
.custom-scrollbar {
    scrollbar-width: thin; /* Para Firefox */
    scrollbar-color: #4f46e5 #f1f5f9; /* Pulgar indigo y fondo claro */
}

/* Estilos para Chrome, Edge y Safari */
.custom-scrollbar::-webkit-scrollbar {
    height: 8px; /* Un grosor equilibrado */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9; /* Fondo gris muy suave (slate-100) */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    /* Gradiente que va de azul a indigo como tu header */
    background: linear-gradient(to right, #2563eb, #4f46e5); 
    border-radius: 10px;
    border: 2px solid #f1f5f9; /* Crea un efecto de separación muy fino */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    /* Se vuelve un poco más oscuro al pasar el mouse */
    background: linear-gradient(to right, #1d4ed8, #4338ca);
}